In [94]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [174]:
uis = pd.read_csv('../data/UIS/uis.csv', index_col='Year_Country')
pisa = pd.read_csv('../data/pisa/pisa.csv', index_col='Year_Country')
world_bank = pd.read_csv('../data/world_bank/world_bank.csv', index_col='Year_Country')

In [175]:
df = pd.merge(pd.merge(uis, pisa, left_index=True, right_index=True),
              world_bank, left_index=True, right_index=True)

In [176]:
df.shape

(408, 57)

In [177]:
negative_features = ([feature for feature in df.columns if 'out' in feature][:-1]
                    + [feature for feature in df.columns if 'petition' in feature]
                    + [feature for feature in df.columns if 'peaters' in feature])

In [178]:
for feature in negative_features:
    df[feature] = 1 - df[feature]

In [179]:
mm_scaler = preprocessing.MinMaxScaler(feature_range=(0.9, 1.1))
mm_df = pd.DataFrame(mm_scaler.fit_transform(df),
                     index=df.index, columns=df.columns)
mm_df.head()

,"Gross intake ratio to Grade 1 of primary education, both sexes (%)","Gross enrolment ratio, primary, both sexes (%)","Gross enrolment ratio, primary to tertiary, both sexes (%)","Gross enrolment ratio, primary and secondary, both sexes (%)","Gross enrolment ratio, upper secondary, both sexes (%)","Gross enrolment ratio, lower secondary, both sexes (%)","Gross enrolment ratio, tertiary, both sexes (%)","Net enrolment rate, primary, both sexes (%)","Net enrolment rate, secondary, both sexes (%)","Net enrolment rate, lower secondary, both sexes (%)",...,Expenditure on secondary education (% of government expenditure on education),"Government expenditure per student, secondary (% of GDP per capita)",Expenditure on primary education (% of government expenditure on education),"Government expenditure per student, primary (% of GDP per capita)","Current education expenditure, total (% of total expenditure in public institutions)","Current education expenditure, tertiary (% of total expenditure in tertiary public institutions)","Current education expenditure, secondary (% of total expenditure in secondary public institutions)","Current education expenditure, primary (% of total expenditure in primary public institutions)","Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, youth total (% of people ages 15-24)"
Year_Country,,,,,,,,,,,,,,,,,,,,,
2000_Albania,0.942660,0.965837,0.924936,0.925246,0.906309,0.952408,0.916788,1.054992,0.989347,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000_Algeria,0.931875,0.966554,NaN,0.931706,0.903440,0.938056,NaN,0.981459,NaN,NaN,...,NaN,0.954890,NaN,0.922813,NaN,NaN,NaN,NaN,NaN,NaN
2000_Argentina,0.968821,1.013195,0.990274,1.009598,0.937758,0.993139,0.982925,1.090874,1.029752,1.05025,...,0.973779,0.948253,1.004107,0.936290,NaN,NaN,NaN,NaN,NaN,NaN
2000_Australia,NaN,0.949720,NaN,NaN,NaN,NaN,NaN,1.035708,NaN,NaN,...,0.983932,NaN,0.996720,0.960785,1.059723,1.064629,1.066200,1.068148,NaN,NaN
2000_Austria,NaN,0.961927,NaN,0.985765,0.962058,0.963278,NaN,NaN,1.061749,NaN,...,1.007935,0.994732,0.931337,0.992694,1.071869,1.088068,1.070098,1.068489,NaN,NaN

In [180]:
school_climate = list(uis.columns[:-2])
# school_climate

In [181]:
school_resources = list(world_bank.columns[:-2])
# school_resources

In [182]:
learning_outcomes = list(pisa.columns) + list(world_bank.columns[-2:])
# learning_outcomes

In [183]:
mm_df['climate_index'] = 1

for feature in school_climate:
    mm_df['climate_index'] = mm_df['climate_index'].multiply(mm_df[feature], fill_value=1)

In [184]:
mm_df['resources_index'] = 1

for feature in school_resources:
    mm_df['resources_index'] = mm_df['resources_index'].multiply(mm_df[feature], fill_value=1)

In [185]:
mm_df['learning_index'] = 1

for feature in learning_outcomes:
    mm_df['learning_index'] = mm_df['learning_index'].multiply(mm_df[feature], fill_value=1)

In [186]:
mm_df

,"Gross intake ratio to Grade 1 of primary education, both sexes (%)","Gross enrolment ratio, primary, both sexes (%)","Gross enrolment ratio, primary to tertiary, both sexes (%)","Gross enrolment ratio, primary and secondary, both sexes (%)","Gross enrolment ratio, upper secondary, both sexes (%)","Gross enrolment ratio, lower secondary, both sexes (%)","Gross enrolment ratio, tertiary, both sexes (%)","Net enrolment rate, primary, both sexes (%)","Net enrolment rate, secondary, both sexes (%)","Net enrolment rate, lower secondary, both sexes (%)",...,"Government expenditure per student, primary (% of GDP per capita)","Current education expenditure, total (% of total expenditure in public institutions)","Current education expenditure, tertiary (% of total expenditure in tertiary public institutions)","Current education expenditure, secondary (% of total expenditure in secondary public institutions)","Current education expenditure, primary (% of total expenditure in primary public institutions)","Literacy rate, adult total (% of people ages 15 and above)","Literacy rate, youth total (% of people ages 15-24)",climate_index,resources_index,learning_index
Year_Country,,,,,,,,,,,,,,,,,,,,,
2000_Albania,0.942660,0.965837,0.924936,0.925246,0.906309,0.952408,0.916788,1.054992,0.989347,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.817519,0.883472,0.930328
2000_Algeria,0.931875,0.966554,NaN,0.931706,0.903440,0.938056,NaN,0.981459,NaN,NaN,...,0.922813,NaN,NaN,NaN,NaN,NaN,NaN,0.533988,0.881185,1.000000
2000_Argentina,0.968821,1.013195,0.990274,1.009598,0.937758,0.993139,0.982925,1.090874,1.029752,1.050250,...,0.936290,NaN,NaN,NaN,NaN,NaN,NaN,3.008766,0.771763,1.000000
2000_Australia,NaN,0.949720,NaN,NaN,NaN,NaN,NaN,1.035708,NaN,NaN,...,0.960785,1.059723,1.064629,1.066200,1.068148,NaN,NaN,1.014587,1.176635,1.077049
2000_Austria,NaN,0.961927,NaN,0.985765,0.962058,0.963278,NaN,NaN,1.061749,NaN,...,0.992694,1.071869,1.088068,1.070098,1.068489,NaN,NaN,1.454729,1.207459,1.047541
2000_Belgium,NaN,0.966278,1.031414,1.070535,1.011220,1.051420,0.991713,1.088447,1.078004,1.061685,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.232634,1.000000,1.059836
2000_Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.926338,1.064717,1.088664,1.067173,1.052503,1.001180,0.959258,0.874982,1.094753,0.930475
2000_Bulgaria,0.946939,0.961114,0.957322,0.971959,0.968890,0.935294,0.966997,1.048564,1.055083,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.798407,1.000000,0.996721
2000_Canada,0.943991,0.949125,0.993906,0.987487,0.972397,0.955883,0.992876,1.099682,NaN,NaN,...,NaN,1.079309,NaN,NaN,NaN,NaN,NaN,1.281197,1.036715,1.081967
2000_Chile,0.948734,0.970599,0.958574,0.968414,0.942806,0.955094,0.953089,NaN,NaN,NaN,...,0.944227,1.026399,1.070450,1.009388,1.010354,NaN,NaN,0.700741,0.858459,0.980328
2000_China,NaN,NaN,NaN,NaN,0.900000,0.920352,0.902746,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.034753,1.074463,0.625029,1.000000,1.111804
2000_Colombia,1.100000,1.026479,0.940641,0.961244,0.918650,0.919979,0.930156,1.041600,NaN,NaN,...,0.934875,NaN,NaN,NaN,NaN,NaN,NaN,1.032119,0.774945,1.000000
2000_Costa Rica,0.960343,0.995394,NaN,0.952404,0.907648,0.918301,NaN,NaN,NaN,NaN,...,0.953921,NaN,NaN,NaN,NaN,1.063870,1.043804,0.626013,0.898189,1.110471
2000_Croatia,0.928017,0.929625,0.938356,0.944293,0.945721,0.943958,0.946325,0.965350,1.041197,1.057933,...,NaN,NaN,1.088449,NaN,NaN,NaN,NaN,1.712926,1.071238,1.000000
2000_Cyprus,0.944478,0.935935,0.943881,0.967253,0.955149,0.956002,0.923764,1.049035,1.060457,NaN,...,0.948992,1.052861,1.008451,1.056178,1.066443,NaN,NaN,2.552005,1.078959,1.000000
2000_Czechia,0.948975,0.960658,0.942877,0.962996,0.942487,0.959842,0.939228,NaN,NaN,NaN,...,0.926241,1.053533,1.061652,1.052403,1.051658,NaN,NaN,0.908943,0.875089,1.047541
2000_Denmark,0.949275,0.953520,1.001737,1.031229,0.999865,1.000478,0.990040,1.072436,1.062332,NaN,...,0.999062,1.054746,1.048074,1.069423,1.052360,NaN,NaN,2.558753,1.372212,1.051639
2000_Dominican Republic,1.043672,1.007511,NaN,0.946470,0.920765,0.900000,NaN,0.932364,0.900000,0.900000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.292333,0.872026,1.000000
2000_Estonia,0.940550,0.959285,0.982096,0.978664,0.957623,0.953097,0.985333,1.052085,1.050420,NaN,...,NaN,NaN,NaN,NaN,NaN,1.100000,1.096933,3.624528,0.972707,1.206626
2000_Finland,0.948681,0.952920,1.022463,1.030148,1.018476,0.961284,1.034236,1.097309,1.082209,NaN,...,0.958368,1.061662,1.076251,1.059269,1.059102,NaN,NaN,4.442964,1.120351,1.091803
2000_France,0.930968,0.949779,0.981137,0.996650,0.977298,0.964178,0.978397,1.052057,1.066777,NaN,...,NaN,1.045411,1.057753,1.039456,1.043464,NaN,NaN,1.957596,1.137291,1.058197
2000_Georgia,0.907222,0.930130,0.943054,0.928983,0.928026,0.930017,0.956786,NaN,1.020247,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.875095,0.875758,1.000000
2000_Germany,0.944483,0.967339,NaN,0.988961,0.968679,0.957367,NaN,1.093262,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.589907,1.000000,1.040984
2000_Greece,0.941582,0.927058,0.959619,0.951083,0.947750,0.947339,0.978683,1.014844,1.030607,NaN,...,NaN,0.995860,1.010377,0.997999,NaN,NaN,NaN,0.916785,0.782607,1.032787
2000_Hungary,0.943842,0.952333,0.959544,0.976653,0.958631,0.960080,0.952593,0.966422,1.050276,NaN,...,0.972750,1.044169,1.035204,1.054374,1.066825,NaN,NaN,1.751347,0.945134,1.037705
2000_Iceland,0.937035,0.959382,0.986593,1.000942,0.986083,0.944661,0.970466,1.087658,1.040244,NaN,...,0.987999,NaN,NaN,NaN,NaN,NaN,NaN,2.627074,0.894902,1.059836
2000_Indonesia,0.968387,0.981044,0.915681,0.920872,0.902107,0.907965,0.915522,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.563456,1.000000,0.948361
2000_Ireland,0.941771,0.956721,0.989239,0.996643,0.981605,0.958033,0.976367,1.043254,1.068306,NaN,...,0.927567,1.036238,1.041304,1.039101,1.054881,NaN,NaN,4.045915,0.931401,1.076230
2000_Israel,NaN,0.970544,0.984119,1.000153,0.976956,0.954015,0.976402,1.076121,1.093832,NaN,...,0.979699,1.053408,1.066333,1.053117,1.037757,NaN,NaN,2.732221,1.016118,1.014754
2000_Italy,0.949129,0.958288,0.963838,0.971047,0.950526,0.969965,0.976011,1.084505,1.053745,NaN,...,0.991614,1.054060,1.036954,1.070232,1.065990,NaN,NaN,2.740134,1.003822,1.043443
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015_Malta,0.962989,0.960961,0.973451,0.979466,0.956542,0.962590,0.972798,1.083467,1.062956,1.093327,...,0.996075,1.021904,1.024039,1.056648,1.027341,NaN,NaN,5.519063,1.042043,1.037210
2015_Mexico,0.955296,0.963594,0.959602,0.983291,0.932504,0.998791,0.943532,1.052527,1.018380,1.059704,...,0.950467,1.082425,1.073372,1.086353,1.090796,1.060950,1.076582,2.124348,1.172407,0.997365
2015_Montenegro,0.940308,0.931206,NaN,0.962802,0.953916,0.955793,NaN,1.034971,NaN,1.089119,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.552995,1.000000,0.972817
2015_Netherlands,NaN,0.958267,1.029731,1.048224,1.002578,1.018879,1.031136,1.061181,1.075667,1.065850,...,0.962077,1.034579,1.057793,1.033355,1.032899,NaN,NaN,3.355464,0.998776,1.144360
2015_New Zealand,0.937757,0.940471,1.020623,1.008364,1.000130,0.963264,1.031128,1.074901,1.085064,1.092316,...,0.969578,NaN,NaN,NaN,NaN,NaN,NaN,4.415451,0.864275,1.140883
2015_North Macedonia,0.935922,0.925286,0.938834,0.936603,0.944263,0.933695,0.961748,1.009321,NaN,1.046951,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.643574,1.000000,0.878283
2015_Norway,0.944759,0.947816,1.009276,1.008429,0.995081,0.964460,1.026542,1.097991,1.085540,1.098870,...,0.987296,1.029426,1.064219,1.020305,1.015076,NaN,NaN,5.822480,1.050309,1.128653
2015_Peru,0.936027,0.954523,NaN,0.981172,0.955902,0.959047,NaN,1.035418,1.025388,1.024506,...,0.939445,0.972605,1.046117,0.950975,0.988095,1.058664,1.078179,1.750713,0.772233,1.056922
2015_Poland,1.041514,0.966805,1.001050,1.004791,0.981573,0.957773,1.006677,1.045532,1.072795,1.078679,...,0.999221,1.057650,1.038687,1.083375,1.070442,NaN,NaN,4.554618,1.066590,1.128600
2015_Portugal,NaN,0.972392,1.006485,1.028126,0.986987,0.990803,0.997459,1.067569,1.077760,1.062215,...,0.992882,1.072698,1.071146,1.064561,1.092783,NaN,NaN,3.508746,1.117634,1.111519
2015_Qatar,0.977990,0.959400,0.908758,0.976349,0.948169,0.959619,0.914886,1.013758,1.026296,1.045157,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.653037,1.000000,0.940548
2015_Republic of Korea,0.943584,0.939143,1.004193,0.981132,0.965431,0.963374,1.053475,1.065319,1.093759,1.091823,...,1.036767,1.036524,1.052414,1.038327,1.035464,NaN,NaN,5.005779,1.078315,1.177511
2015_Republic of Moldova,0.924241,0.919763,0.935263,0.944067,0.950500,0.936484,0.961871,0.955864,1.021069,1.053343,...,1.098301,1.056657,1.083524,1.046071,1.046413,NaN,NaN,0.517231,1.436449,0.965541
2015_Romania,0.916552,0.912383,0.961659,0.952369,0.954931,0.947703,0.971743,0.963039,1.042455,1.058073,...,0.915609,1.067352,1.079075,1.076986,1.079785,NaN,NaN,1.435310,0.863352,0.998824
2015_Russian Federation,0.956814,0.950728,0.999707,0.994683,0.981653,0.960998,1.031009,1.062333,NaN,1.086931,...,NaN,1.058555,1.054138,NaN,NaN,NaN,NaN,3.209047,0.944200,1.089941
2015_Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.078305,1.097288,1.043741,1.000000,1.400238
2015_Slovakia,0.922402,0.942643,0.961398,0.961169,0.951036,0.952849,0.978557,NaN,1.049289,1.053629,...,0.983153,1.013628,0.970182,1.072783,1.072943,NaN,NaN,1.416806,0.896994,1.004436
2015_Slovenia,0.951197,0.945869,1.005314,1.001487,0.984543,0.960865,1.030220,1.076067,1.087168,1.090833,...,1.004129,1.053027,1.061915,1.057805,1.054836,NaN,NaN,7.135465,1.014179,1.150240
2015_Spain,0.945015,0.964768,1.035112,1.040874,1.005704,1.000355,1.046830,1.087994,1.087785,1.084724,...,0.963801,1.069270,1.052635,1.085736,1.085350,1.088023,1.094103,6.460346,0.996118,1.301607
2015_Sweden,0.943244,1.034073,1.032677,1.093613,1.035904,0.986135,0.998956,1.093696,1.099676,1.094736,...,0.986384,1.070778,1.086757,1.062050,1.067398,NaN,NaN,6.420079,1.202753,1.103493
2015_Switzerland,0.935387,0.962954,0.983181,0.992842,0.964796,0.969966,0.990565,1.027023,1.049771,1.065665,...,1.004470,1.041155,1.063651,1.054027,1.026861,NaN,NaN,5.078340,1.102648,1.137855
2015_Thailand,0.930720,0.950371,NaN,1.023208,0.989060,0.995842,NaN,NaN,1.023969,1.034126,...,NaN,NaN,NaN,NaN,NaN,1.049120,1.056913,1.315955,1.000000,1.060126
2015_Trinidad and Tobago,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,0.972038
2015_Tunisia,0.998433,1.001891,0.962377,0.985353,0.943260,0.964031,0.950465,NaN,NaN,1.054029,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.029253,1.360325,0.882279
2015_Turkey,0.921164,0.960478,1.014525,0.995411,0.974294,0.958477,1.057301,1.044085,1.056320,1.067363,...,0.947327,1.028006,1.016752,1.048776,1.051936,1.069277,1.090129,2.530071,0.912201,1.045335
2015_United Arab Emirates,0.942140,0.998902,NaN,NaN,NaN,0.954545,NaN,1.027798,NaN,1.057426,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.430533,1.000000,0.985490
2015_United Kingdom of Great Britain and Northern Ireland,0.932600,0.955324,1.005392,1.034483,1.005536,0.978867,0.990174,1.099929,1.097142,1.090142,...,1.007203,1.084971,NaN,1.085753,1.084069,NaN,NaN,4.570000,1.185459,1.122926
2015_United States of America,0.951273,0.949298,1.005544,0.980955,0.961470,0.960398,1.045782,1.033389,1.071365,1.064362,...,0.978230,NaN,1.063453,1.052300,1.052594,NaN,NaN,1.627393,1.152285,1.085158
2015_Uruguay,0.927380,0.975972,0.997509,1.017794,0.971467,0.993175,0.994213,1.070171,1.037493,1.055562,...,NaN,1.076844,1.073624,1.086980,1.074167,1.090830,1.076160,2.275471,1.349890,1.151413
2015_Viet Nam,0.961545,0.980811,NaN,NaN,NaN,0.953968,0.940008,NaN,NaN,1.083863,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.843629,1.000000,1.083953

In [187]:
mm_df['ed_qual_index'] = (mm_df['climate_index'] + mm_df['resources_index']
                          + mm_df['learning_index']) / 3

In [192]:
list(mm_df.sort_values('ed_qual_index', ascending=False).index[:20])

['2015_Finland',
 '2015_Denmark',
 '2015_Ireland',
 '2015_Belgium',
 '2015_Lithuania',
 '2015_Slovenia',
 '2006_Belgium',
 '2012_Belgium',
 '2015_Spain',
 '2015_Sweden',
 '2015_Australia',
 '2009_Belgium',
 '2012_Denmark',
 '2015_Italy',
 '2012_Finland',
 '2015_Norway',
 '2012_Kazakhstan',
 '2012_Lithuania',
 '2003_Belgium',
 '2009_Finland']

In [197]:
mm_df.corr().sort_values('ed_qual_index', ascending=False)['ed_qual_index'][:20]

ed_qual_index                                                                                                1.000000
climate_index                                                                                                0.995798
Rate of out-of-school children, adolescents and youth of primary and secondary school age, both sexes (%)    0.774698
Gross enrolment ratio, primary to tertiary, both sexes (%)                                                   0.751994
Gross enrolment ratio, upper secondary, both sexes (%)                                                       0.709892
Net enrolment rate, secondary, both sexes (%)                                                                0.700447
Rate of out-of-school adolescents and youth of secondary school age, both sexes (%)                          0.698867
Rate of out-of-school youth of upper secondary school age, both sexes (%)                                    0.683309
Total net enrolment rate, upper secondary, both sexes (%)                                                    0.662986
Net enrolment rate, upper secondary, both sexes (%)                                                          0.651391
Gross enrolment ratio, primary and secondary, both sexes (%)                                                 0.649617
School life expectancy, primary and secondary, both sexes (years)                                            0.634675
Net enrolment rate for compulsory education age group, both sexes (%)                                        0.624669
Gross enrolment ratio, tertiary, both sexes (%)                                                              0.618340
Gross graduation ratio from upper secondary education, both sexes (%)                                        0.597727
Rate of out-of-school adolescents of lower secondary school age, both sexes (%)                              0.597455
Total net enrolment rate, lower secondary, both sexes (%)                                                    0.578402
Net enrolment rate, lower secondary, both sexes (%)                                                          0.566540
Gross graduation ratio from lower secondary education, both sexes (%)                                        0.548459
Adjusted net enrolment rate, lower secondary, both sexes (%)                                                 0.531261
Name: ed_qual_index, dtype: float64

In [207]:
years = [year for year in range(2000, 2016, 3)]
years

[2000, 2003, 2006, 2009, 2012, 2015]

In [212]:
for year in years:
    indices = [index for index in df.index if str(year) in index]
    mean = mm_df.loc[indices]['ed_qual_index'].mean()
    print(f"{year} mean: {mean}")

2000 mean: 1.2416421861443059
2003 mean: 1.3122056961233546
2006 mean: 1.3730055906331387
2009 mean: 1.4508077040539689
2012 mean: 1.5262739749161363
2015 mean: 1.8495199196126662