In [221]:
import pandas as pd
import numpy as np

In [222]:
uis_1 = pd.read_csv('../data/UIS/EDULIT_DS_23082019165936814.csv')
uis_2 = pd.read_csv('../data/UIS/EDULIT_DS_25082019015237837.csv')

uis = pd.concat([uis_1, uis_2], sort=True)
uis.head()

,Country,EDULIT_IND,Flag Codes,Flags,Indicator,LOCATION,TIME,Time,Value
0,Cyprus,AIR_1,+,National Estimation,Gross intake ratio to Grade 1 of primary educa...,CYP,2000,2000,100.69412
1,Cyprus,AIR_1,+,National Estimation,Gross intake ratio to Grade 1 of primary educa...,CYP,2001,2001,99.80127
2,Cyprus,AIR_1,+,National Estimation,Gross intake ratio to Grade 1 of primary educa...,CYP,2002,2002,98.23879
3,Cyprus,AIR_1,+,National Estimation,Gross intake ratio to Grade 1 of primary educa...,CYP,2003,2003,99.06412
4,Cyprus,AIR_1,+,National Estimation,Gross intake ratio to Grade 1 of primary educa...,CYP,2004,2004,100.39945

In [223]:
countries = ['Albania', 'Algeria', 'Argentina', 'Australia', 'Austria', 'Belgium', 'Brazil',
             'Bulgaria', 'Canada', 'Chile', 'China', 'Colombia', 'Costa Rica', 'Croatia',
             'Cyprus', 'Czechia', 'Denmark', 'Dominican Republic', 'Estonia', 'Finland',
             'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Indonesia',
             'Ireland', 'Israel', 'Italy', 'Japan', 'Jordan', 'Kazakhstan', 'Latvia',
             'Lebanon', 'Lithuania', 'Luxembourg', 'Malaysia', 'Malta', 'Mexico',
             'Montenegro', 'Netherlands', 'New Zealand', 'North Macedonia', 'Norway',
             'Peru', 'Poland', 'Portugal', 'Qatar', 'Republic of Korea', 'Republic of Moldova',
             'Romania', 'Russian Federation', 'Singapore', 'Slovakia', 'Slovenia', 'Spain',
             'Sweden', 'Switzerland', 'Thailand', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
             'United Arab Emirates', 'United Kingdom of Great Britain and Northern Ireland',
             'United States of America', 'Uruguay', 'Viet Nam']

In [224]:
features = [feature for feature in uis['Indicator'].unique()]
len(features)

97

In [225]:
uis_df = pd.DataFrame(index=None, columns=features)
for year in [2015]:
    year_filter = (uis['TIME'] == year)
    
    for country in countries:
        country_filter = (uis['Country'] == country)

        year_country_dict = {feature: 0 for feature in features}
        year_country_index = [f"{year}_{country}"]

        for feature in features:
            feature_filter = (uis['Indicator'] == feature)
            
            try:
                year_country_dict[feature] += uis[year_filter
                                                  & country_filter
                                                  & feature_filter]['Value'].values[0]
            except:
                year_country_dict[feature] = np.nan
                
        year_country_df = pd.DataFrame(year_country_dict, index=year_country_index)
        uis_df = pd.concat([uis_df, year_country_df])

In [226]:
good_feature_dict = {column: uis_df[column].isna().sum()
                     for column in uis_df.columns
                     if uis_df[column].isna().sum() < 30}
good_features = list(good_feature_dict.keys())
len(good_features)

40

In [227]:
years = [year for year in range(2000, 2016, 3)]
years

[2000, 2003, 2006, 2009, 2012, 2015]

In [228]:
uis_df = pd.DataFrame(index=None, columns=good_features)
for year in years:
    year_filter = (uis['TIME'] == year)
    
    for country in countries:
        country_filter = (uis['Country'] == country)

        year_country_dict = {feature: 0 for feature in good_features}
        year_country_index = [f"{year}_{country}"]

        for feature in good_features:
            feature_filter = (uis['Indicator'] == feature)
            
            try:
                year_country_dict[feature] += uis[year_filter
                                                  & country_filter
                                                  & feature_filter]['Value'].values[0]
            except:
                year_country_dict[feature] = np.nan
                
        year_country_df = pd.DataFrame(year_country_dict, index=year_country_index)
        uis_df = pd.concat([uis_df, year_country_df])

In [229]:
uis_df.shape

(408, 40)

In [230]:
uis_df

,"Gross intake ratio to Grade 1 of primary education, both sexes (%)","Gross enrolment ratio, primary, both sexes (%)","Gross enrolment ratio, primary to tertiary, both sexes (%)","Gross enrolment ratio, primary and secondary, both sexes (%)","Gross enrolment ratio, upper secondary, both sexes (%)","Gross enrolment ratio, lower secondary, both sexes (%)","Gross enrolment ratio, tertiary, both sexes (%)","Net enrolment rate, primary, both sexes (%)","Net enrolment rate, secondary, both sexes (%)","Net enrolment rate, lower secondary, both sexes (%)",...,"Effective transition rate from primary to lower secondary general education, both sexes (%)","Mean years of schooling (ISCED 1 or higher), population 25+ years, both sexes","Repetition rate in primary education (all grades), both sexes (%)","Percentage of repeaters in lower secondary general education, all grades, both sexes (%)","Rate of out-of-school youth of upper secondary school age, both sexes (%)","Gross graduation ratio from upper secondary education, both sexes (%)","Rate of out-of-school children, adolescents and youth of primary and secondary school age, both sexes (%)","Rate of out-of-school adolescents and youth of secondary school age, both sexes (%)","Percentage of graduates from Science, Technology, Engineering and Mathematics programmes in tertiary education, both sexes (%)","Percentage of graduates from programmes other than Science, Technology, Engineering and Mathematics in tertiary education, both sexes (%)"
2000_Albania,100.12730,104.71661,66.27698,82.93825,43.68363,95.96758,15.59894,95.85975,67.02141,NaN,...,97.24541,NaN,3.92340,6.46522,52.78033,NaN,19.94670,28.29870,7.03273,92.96727
2000_Algeria,96.76294,104.90816,NaN,84.79719,41.02775,87.69541,NaN,89.17991,NaN,NaN,...,93.25744,NaN,12.21249,23.88346,NaN,NaN,NaN,NaN,NaN,NaN
2000_Argentina,108.28743,117.36349,91.55129,107.21031,72.79456,119.44449,53.17574,99.11938,78.96793,81.14052,...,97.69371,NaN,6.40005,8.06650,22.37349,48.39403,5.90641,11.64800,NaN,NaN
2000_Australia,NaN,100.41251,NaN,NaN,NaN,NaN,NaN,94.10802,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.30217,79.69783
2000_Austria,NaN,103.67232,NaN,100.35258,95.28753,102.23275,NaN,NaN,88.42819,NaN,...,NaN,NaN,NaN,NaN,7.33083,NaN,NaN,3.86646,NaN,NaN
2000_Belgium,NaN,104.83442,107.46516,124.74484,140.79426,153.03667,58.16906,98.89887,93.23441,85.46296,...,NaN,NaN,NaN,NaN,3.15312,NaN,1.69028,2.58234,19.37999,80.60975
2000_Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97.87674,NaN,20.95415,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000_Bulgaria,101.46197,103.45539,78.80469,96.37996,101.61180,86.10312,44.12604,95.27589,86.45747,NaN,...,99.33849,NaN,2.25847,NaN,18.12112,NaN,7.84033,10.33721,18.29059,81.69442
2000_Canada,100.54231,100.25361,92.95634,100.84797,104.85779,97.97025,58.83009,99.91953,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000_Chile,102.02196,105.98840,79.28892,95.35972,77.46720,97.51589,36.22400,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000_China,NaN,NaN,NaN,NaN,37.84360,77.49127,7.62093,NaN,NaN,NaN,...,NaN,6.60991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000_Colombia,149.20533,120.91092,72.35208,93.29654,55.10688,77.27617,23.19450,94.64319,NaN,NaN,...,92.33528,NaN,6.50595,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000_Costa Rica,105.64284,112.60983,NaN,90.75298,44.92279,76.30866,NaN,NaN,NaN,NaN,...,82.92189,NaN,8.22428,9.21978,NaN,NaN,NaN,NaN,NaN,NaN
2000_Croatia,95.55974,95.04631,71.46844,88.41917,80.16481,91.09737,32.38117,87.71651,82.35194,84.04487,...,99.73879,NaN,0.46865,0.84008,22.29752,NaN,12.13790,14.77639,27.28224,72.71776
2000_Cyprus,100.69412,96.73135,73.60527,95.02569,88.89272,98.03892,19.56232,95.31862,88.04640,NaN,...,99.52678,NaN,0.31586,2.24343,17.56473,NaN,6.63614,11.19844,NaN,NaN
2000_Czechia,102.09704,103.33349,73.21705,93.80086,77.17148,100.25211,28.34885,NaN,NaN,NaN,...,99.97188,NaN,1.09093,NaN,NaN,NaN,NaN,NaN,24.71336,75.28664
2000_Denmark,102.19049,101.42744,95.98534,113.43458,130.28379,123.67457,57.21831,97.44444,88.60073,NaN,...,NaN,NaN,NaN,NaN,18.18371,NaN,5.44225,9.44714,18.26263,81.68013
2000_Dominican Republic,131.63516,115.84567,NaN,89.04564,57.06478,65.76044,NaN,84.72004,40.60467,24.34376,...,NaN,NaN,NaN,2.65775,37.23291,NaN,21.42264,29.56203,NaN,NaN
2000_Estonia,99.46910,102.96704,88.38783,98.30909,91.18235,96.36449,54.54407,95.59569,85.07887,NaN,...,99.85129,12.15694,2.14252,5.37343,11.20203,NaN,3.94948,6.74542,19.41803,80.58197
2000_Finland,102.00517,101.26720,104.00264,113.12343,147.51133,101.08371,82.32955,99.70392,94.47773,NaN,...,99.83892,NaN,0.51048,NaN,7.62742,NaN,2.69060,5.03464,28.29197,71.70803
2000_France,96.48031,100.42826,88.01687,103.48469,109.39426,102.75166,50.60308,95.59312,89.91505,NaN,...,NaN,NaN,NaN,NaN,9.21363,NaN,5.66072,6.93312,30.55257,69.21566
2000_Georgia,89.07327,95.18116,73.28541,84.01373,63.78546,83.06203,38.32468,NaN,76.15766,NaN,...,98.42178,NaN,0.26144,0.40000,41.66330,NaN,NaN,NaN,22.98325,76.90944
2000_Germany,100.69591,105.11767,NaN,101.27228,101.41635,98.82593,NaN,99.33632,NaN,NaN,...,99.90326,NaN,1.70666,NaN,NaN,NaN,NaN,NaN,26.91868,72.76916
2000_Greece,99.79084,94.36084,79.69331,90.37300,82.04315,93.04574,50.76597,92.21265,79.22078,NaN,...,NaN,NaN,NaN,NaN,25.57303,NaN,12.60122,19.39864,NaN,NaN
2000_Hungary,100.49593,101.11052,79.66420,97.73057,92.11581,100.38937,35.94206,87.81396,85.03628,NaN,...,99.99236,NaN,2.48031,NaN,16.28370,NaN,7.56859,9.53568,13.21911,86.78089
2000_Iceland,98.37275,102.99279,90.12732,104.71952,117.52666,91.50245,46.09699,98.82721,82.06997,NaN,...,99.87945,NaN,NaN,NaN,24.77371,NaN,9.44616,17.86046,19.73019,80.26981
2000_Indonesia,108.15221,108.77768,62.69690,81.67967,39.79373,70.35122,14.87963,NaN,NaN,NaN,...,NaN,NaN,6.20567,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000_Ireland,99.84975,102.28228,91.15098,103.48254,113.38160,99.20969,49.44981,94.79352,90.36688,NaN,...,NaN,NaN,1.54925,0.41113,12.19049,NaN,2.57133,6.02859,34.49975,65.21936
2000_Israel,NaN,105.97370,89.17049,104.49257,109.07787,96.89381,49.47000,97.77922,97.91429,NaN,...,NaN,NaN,NaN,NaN,3.06079,NaN,1.96110,1.77027,NaN,NaN
2000_Italy,102.14510,102.70068,81.32525,96.11759,84.61273,106.08685,49.24782,98.54082,86.06195,NaN,...,99.77574,NaN,0.32256,NaN,18.94751,NaN,8.08000,12.61292,23.28072,76.56555
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015_Malta,106.46827,103.41439,85.04376,98.53989,90.18195,101.83635,47.42187,98.44650,88.78511,97.42423,...,98.58775,11.21442,NaN,0.61399,12.37394,123.66321,5.09542,7.84270,24.79130,73.66557
2015_Mexico,104.06869,104.11754,79.68675,99.64067,67.93129,122.70224,30.79432,95.63589,75.60564,84.71405,...,96.22451,8.60165,0.85254,0.66578,34.23608,52.98079,10.96940,20.58543,27.89731,72.10269
2015_Montenegro,99.39340,95.46852,NaN,93.74486,87.75065,97.91837,NaN,94.04100,NaN,95.83360,...,96.62906,NaN,0.65718,0.33708,NaN,98.43988,NaN,NaN,NaN,NaN
2015_Netherlands,NaN,102.69498,106.81392,118.32494,132.79456,134.28042,80.56791,96.42201,92.54352,87.03741,...,NaN,12.14087,NaN,NaN,0.81946,118.83366,NaN,0.71041,NaN,NaN
2015_New Zealand,98.59770,97.94278,103.29100,106.85529,130.52926,102.22472,80.56338,97.66835,95.32172,97.04187,...,NaN,13.60087,NaN,NaN,5.26257,130.23889,2.98236,3.61334,20.34435,75.30356
2015_North Macedonia,98.02541,93.88760,71.65334,86.20637,78.81524,85.18151,41.14387,91.71095,NaN,79.89327,...,NaN,NaN,NaN,0.27500,NaN,84.52709,NaN,NaN,19.95693,80.04307
2015_Norway,100.78194,99.90401,98.90173,106.87395,125.85541,102.91420,77.95804,99.76589,95.46247,99.51968,...,99.95767,12.52521,NaN,NaN,8.41810,102.05913,2.23509,4.46593,21.00514,78.68995
2015_Peru,98.05807,101.69511,NaN,99.03095,89.58966,99.79394,NaN,94.08167,77.67759,71.40866,...,94.94114,9.16043,2.97337,4.14895,NaN,84.55288,NaN,NaN,NaN,NaN
2015_Poland,130.96227,104.97503,95.71969,105.82726,113.35140,99.06004,66.67103,95.00039,91.69428,91.88688,...,99.52425,NaN,0.87793,2.56975,7.88918,91.62692,5.79752,6.66586,22.26564,77.72623
2015_Portugal,NaN,106.46703,97.82184,112.54159,118.36284,118.09760,61.43383,97.00228,93.16234,85.66355,...,NaN,9.06047,NaN,NaN,1.32729,90.49410,1.94613,1.09627,27.90508,72.06683
2015_Qatar,111.14757,102.99762,60.01908,97.64306,82.43136,100.12358,14.51808,92.11397,77.94600,79.21526,...,99.56406,NaN,2.00772,5.16104,31.20003,47.21874,10.55610,19.17191,NaN,NaN
2015_Republic of Korea,100.41555,97.58806,96.93534,99.01936,98.40961,102.28806,93.26056,96.79793,97.89265,96.85567,...,99.65236,12.11633,NaN,0.00572,0.95380,93.61101,1.90041,1.27766,29.54906,70.45094
2015_Republic of Moldova,94.38187,92.41278,70.27179,88.35414,84.58907,86.78948,41.21348,86.85478,76.40056,82.30950,...,98.22016,11.57737,NaN,NaN,39.29210,58.51345,17.91603,22.26902,22.30840,77.68524
2015_Romania,91.98335,90.44188,80.48250,90.74298,88.69050,93.25579,46.82250,87.50664,82.72377,84.09770,...,99.51149,10.88301,1.14012,3.74515,20.99094,90.31450,12.62835,14.71784,28.34849,71.65151
2015_Russian Federation,104.54226,100.68178,95.20008,102.91863,113.42595,100.91868,80.49591,96.52664,NaN,95.00652,...,99.94258,NaN,0.28735,0.34596,NaN,104.75277,NaN,NaN,29.01871,70.97865
2015_Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,11.85620,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015_Slovakia,93.80829,98.52261,80.38158,93.27520,85.08476,96.22199,50.69406,NaN,84.74420,82.41785,...,NaN,13.56520,3.14335,1.94214,11.17953,77.24941,NaN,7.53273,21.14030,78.85970
2015_Slovenia,102.78994,99.38422,97.36917,104.87655,116.10047,100.84228,80.04787,97.77426,95.94397,96.48128,...,99.25425,12.02874,0.87391,0.77757,3.74944,101.66980,2.12827,2.26978,25.65080,74.34920
2015_Spain,100.86186,104.43106,108.89543,116.21004,135.68817,123.60343,89.48473,98.85776,96.12630,94.17216,...,99.25810,9.72978,3.01528,10.06333,1.89942,92.25311,1.01564,0.95774,25.37436,74.01417
2015_Sweden,100.30920,122.93879,107.95370,131.38534,163.64350,115.40731,62.28411,99.37575,99.64197,97.95676,...,99.63702,12.36667,NaN,NaN,2.11067,66.81661,0.75545,1.16987,25.99305,73.92516
2015_Switzerland,97.85846,103.94662,88.80759,102.38880,97.82199,106.08760,57.51696,93.31900,84.88671,86.96754,...,99.84501,13.90076,1.25125,1.49563,18.58568,113.83527,6.44293,11.15851,24.38325,75.03307
2015_Thailand,96.40278,100.58641,NaN,111.12647,120.28187,121.00218,NaN,NaN,77.25812,75.04520,...,NaN,NaN,NaN,4.13887,20.92589,64.44460,NaN,16.68050,26.76973,61.27346
2015_Trinidad and Tobago,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015_Tunisia,117.52424,114.34463,80.76006,100.23396,77.88748,102.66713,34.73317,NaN,NaN,82.56902,...,NaN,NaN,NaN,19.69551,NaN,NaN,NaN,NaN,44.36637,55.63363
2015_Turkey,93.42207,103.28537,100.93200,103.12798,106.61349,99.46567,95.43396,94.86893,86.82315,87.60941,...,99.65600,7.96206,2.01693,2.12246,14.92044,NaN,9.26873,11.36526,NaN,NaN
2015_United Arab Emirates,99.96493,113.54651,NaN,NaN,NaN,97.19903,NaN,93.38943,NaN,83.85324,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.81909,78.15222
2015_United Kingdom of Great Britain and Northern Ireland,96.98934,101.90924,97.39905,114.37098,135.53317,111.21798,57.29489,99.94197,98.89295,96.22031,...,NaN,NaN,NaN,NaN,0.78600,NaN,0.55561,0.99939,26.14690,73.12196
2015_United States of America,102.81369,100.29991,97.45783,98.96844,94.74373,100.57290,88.88941,93.89730,91.27156,86.47504,...,NaN,13.32078,NaN,NaN,NaN,82.78647,4.42735,NaN,17.36795,82.63205
2015_Uruguay,95.36114,107.42318,94.34989,109.56859,103.99677,119.46506,59.58928,97.23868,81.25668,83.14832,...,NaN,8.68426,4.18260,NaN,22.05639,NaN,6.91045,11.37738,14.38185,85.61815
2015_Viet Nam,106.01797,108.71546,NaN,NaN,NaN,96.86667,28.79185,NaN,NaN,93.84666,...,99.79470,NaN,0.83574,0.83741,NaN,51.81498,NaN,NaN,23.41543,74.10469

In [231]:
uis_df.to_csv('../data/UIS/uis.csv', index_label='Year_Country')