In [2]:
import pandas as pd
import numpy as np

In [3]:
world_bank = pd.read_csv('../data/world_bank/API_4_DS2_en_csv_v2_103930.csv')
variable_info = pd.read_csv('../data/world_bank/Metadata_Indicator_API_4_DS2_en_csv_v2_103930.csv')

In [46]:
uis.shape

(1000000, 9)

In [42]:
uis[uis['Country'] == 'United States of America']['TIME'].unique()

array([2010, 2011, 2012, 2013, 2014, 2015, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009])

In [30]:
uis.columns

Index(['EDULIT_IND', 'Indicator', 'LOCATION', 'Country', 'TIME', 'Time',
       'Value', 'Flag Codes', 'Flags'],
      dtype='object')

In [45]:
uis['Country'].unique()

array(['Australia', 'Austria', 'Belgium', 'Czechia', 'Denmark', 'Finland',
       'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland',
       'Italy', 'Japan', 'Republic of Korea', 'Luxembourg', 'Mexico',
       'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal',
       'Slovakia', 'Spain', 'Sweden', 'Switzerland', 'Turkey',
       'United Kingdom of Great Britain and Northern Ireland',
       'United States of America', 'Albania', 'Algeria', 'Argentina',
       'Brazil', 'Bulgaria', 'Chile', 'China', 'Colombia', 'Costa Rica',
       'Croatia', 'Cyprus', 'Dominican Republic', 'Estonia', 'Georgia',
       'Indonesia', 'Israel', 'Jordan', 'Kazakhstan', 'Latvia', 'Lebanon',
       'Lithuania', 'North Macedonia', 'Malaysia', 'Malta',
       'Republic of Moldova', 'Peru', 'Qatar', 'Romania',
       'Russian Federation', 'Slovenia', 'Thailand',
       'Trinidad and Tobago', 'Tunisia', 'United Arab Emirates',
       'Uruguay', 'Viet Nam', 'Montenegro', 'Canada', 'Singapore'],
      dtype=object)

In [3]:
pisa.T.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
Unnamed: 0,2015_mean_math,2012_mean_math,2009_mean_math,2006_mean_math,2003_mean_math,2000_mean_math,2015_std_math,2012_std_math,2009_std_math,2006_std_math,...,2009_mean_science,2006_mean_science,2003_mean_science,2000_mean_science,2015_std_science,2012_std_science,2009_std_science,2006_std_science,2003_std_science,2000_std_science
Albania,NaN,394,377,NaN,NaN,NaN,NaN,2,4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria,360,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Australia,494,504,514,520,524,NaN,1.6,1.6,2.5,2.2,...,527,527,NaN,NaN,1.5,1.8,2.5,2.3,NaN,NaN
Austria,497,506,496,505,506,NaN,2.9,2.7,2.7,3.7,...,494,511,NaN,NaN,2.4,2.7,3.2,3.9,NaN,NaN

pisa.isna().sum()

names = ['Country Name', 'Indicator Name']
years_of_interest = [str(year) for year in range(2000, 2016, 3)]
years_of_interest

world_bank[names + years_of_interest]

In [4]:
world_bank['Indicator Name'].unique()

array(['Population ages 15-64 (% of total population)',
       'Population ages 0-14 (% of total population)',
       'Unemployment, total (% of total labor force) (modeled ILO estimate)',
       'Unemployment, male (% of male labor force) (modeled ILO estimate)',
       'Unemployment, female (% of female labor force) (modeled ILO estimate)',
       'Labor force, total',
       'Labor force, female (% of total labor force)',
       'Government expenditure on education, total (% of GDP)',
       'Government expenditure on education, total (% of government expenditure)',
       'Expenditure on tertiary education (% of government expenditure on education)',
       'Government expenditure per student, tertiary (% of GDP per capita)',
       'Expenditure on secondary education (% of government expenditure on education)',
       'Government expenditure per student, secondary (% of GDP per capita)',
       'Expenditure on primary education (% of government expenditure on education)',
       'Government expenditure per student, primary (% of GDP per capita)',
       'Current education expenditure, total (% of total expenditure in public institutions)',
       'Current education expenditure, tertiary (% of total expenditure in tertiary public institutions)',
       'Current education expenditure, secondary (% of total expenditure in secondary public institutions)',
       'Current education expenditure, primary (% of total expenditure in primary public institutions)',
       'Tertiary education, academic staff (% female)',
       'School enrollment, tertiary, male (% gross)',
       'School enrollment, tertiary, female (% gross)',
       'School enrollment, tertiary (% gross)',
       'Pupil-teacher ratio, tertiary',
       'Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative)',
       'Educational attainment, at least completed short-cycle tertiary, population 25+, male (%) (cumulative)',
       'Educational attainment, at least completed short-cycle tertiary, population 25+, female (%) (cumulative)',
       "Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative)",
       "Educational attainment, at least Master's or equivalent, population 25+, male (%) (cumulative)",
       "Educational attainment, at least Master's or equivalent, population 25+, female (%) (cumulative)",
       'Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative)',
       'Educational attainment, Doctoral or equivalent, population 25+, male (%) (cumulative)',
       'Educational attainment, Doctoral or equivalent, population 25+, female (%) (cumulative)',
       "Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)",
       "Educational attainment, at least Bachelor's or equivalent, population 25+, male (%) (cumulative)",
       "Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)",
       'Adolescents out of school (% of lower secondary school age)',
       'Adolescents out of school, male (% of male lower secondary school age)',
       'Adolescents out of school, female (% of female lower secondary school age)',
       'Secondary education, teachers (% female)',
       'Secondary education, teachers, female',
       'Secondary education, teachers',
       'Trained teachers in secondary education (% of total teachers)',
       'Trained teachers in upper secondary education (% of total teachers)',
       'Trained teachers in upper secondary education, male (% of male teachers)',
       'Trained teachers in upper secondary education, female (% of female teachers)',
       'Trained teachers in secondary education, male (% of male teachers)',
       'Trained teachers in lower secondary education (% of total teachers)',
       'Trained teachers in lower secondary education, male (% of male teachers)',
       'Trained teachers in lower secondary education, female (% of female teachers)',
       'Trained teachers in secondary education, female (% of female teachers)',
       'Progression to secondary school (%)',
       'Progression to secondary school, male (%)',
       'Progression to secondary school, female (%)',
       'School enrollment, secondary, private (% of total secondary)',
       'School enrollment, secondary, male (% net)',
       'School enrollment, secondary, female (% net)',
       'School enrollment, secondary (% net)',
       'School enrollment, secondary, male (% gross)',
       'School enrollment, secondary, female (% gross)',
       'School enrollment, secondary (% gross)',
       'Secondary education, vocational pupils (% female)',
       'Secondary education, vocational pupils',
       'Pupil-teacher ratio, upper secondary',
       'Pupil-teacher ratio, secondary',
       'Pupil-teacher ratio, lower secondary',
       'Secondary education, general pupils (% female)',
       'Secondary education, general pupils',
       'Secondary education, pupils (% female)',
       'Secondary education, pupils',
       'Secondary education, duration (years)',
       'Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative)',
       'Educational attainment, at least completed upper secondary, population 25+, male (%) (cumulative)',
       'Educational attainment, at least completed upper secondary, population 25+, female (%) (cumulative)',
       'Educational attainment, at least completed post-secondary, population 25+, total (%) (cumulative)',
       'Educational attainment, at least completed post-secondary, population 25+, male (%) (cumulative)',
       'Educational attainment, at least completed post-secondary, population 25+, female (%) (cumulative)',
       'Educational attainment, at least completed lower secondary, population 25+, total (%) (cumulative)',
       'Educational attainment, at least completed lower secondary, population 25+, male (%) (cumulative)',
       'Educational attainment, at least completed lower secondary, population 25+, female (%) (cumulative)',
       'Lower secondary completion rate, total (% of relevant age group)',
       'Lower secondary completion rate, male (% of relevant age group)',
       'Lower secondary completion rate, female (% of relevant age group)',
       'Lower secondary school starting age (years)',
       'Children out of school (% of primary school age)',
       'Children out of school, male (% of male primary school age)',
       'Children out of school, primary, male',
       'Children out of school, female (% of female primary school age)',
       'Children out of school, primary, female',
       'Children out of school, primary',
       'Adjusted net enrollment rate, primary, male (% of primary school age children)',
       'Adjusted net enrollment rate, primary, female (% of primary school age children)',
       'Adjusted net enrollment rate, primary (% of primary school age children)',
       'Primary education, teachers (% female)',
       'Primary education, teachers',
       'Trained teachers in primary education (% of total teachers)',
       'Trained teachers in primary education, male (% of male teachers)',
       'Trained teachers in primary education, female (% of female teachers)',
       'Repeaters, primary, total (% of total enrollment)',
       'Repeaters, primary, male (% of male enrollment)',
       'Repeaters, primary, female (% of female enrollment)',
       'Persistence to last grade of primary, total (% of cohort)',
       'Persistence to last grade of primary, male (% of cohort)',
       'Persistence to last grade of primary, female (% of cohort)',
       'Persistence to grade 5, total (% of cohort)',
       'Persistence to grade 5, male (% of cohort)',
       'Persistence to grade 5, female (% of cohort)',
       'School enrollment, primary, private (% of total primary)',
       'Over-age students, primary (% of enrollment)',
       'Over-age students, primary, male (% of male enrollment)',
       'Over-age students, primary, female (% of female enrollment)',
       'Net intake rate in grade 1 (% of official school-age population)',
       'Net intake rate in grade 1, male (% of official school-age population)',
       'Net intake rate in grade 1, female (% of official school-age population)',
       'School enrollment, primary, male (% net)',
       'School enrollment, primary, female (% net)',
       'School enrollment, primary (% net)',
       'Gross intake ratio in first grade of primary education, total (% of relevant age group)',
       'Gross intake ratio in first grade of primary education, male (% of relevant age group)',
       'Gross intake ratio in first grade of primary education, female (% of relevant age group)',
       'School enrollment, primary, male (% gross)',
       'School enrollment, primary, female (% gross)',
       'School enrollment, primary (% gross)',
       'Pupil-teacher ratio, primary',
       'Primary education, pupils (% female)',
       'Primary education, pupils', 'Primary education, duration (years)',
       'Educational attainment, at least completed primary, population 25+ years, total (%) (cumulative)',
       'Educational attainment, at least completed primary, population 25+ years, male (%) (cumulative)',
       'Educational attainment, at least completed primary, population 25+ years, female (%) (cumulative)',
       'Primary completion rate, total (% of relevant age group)',
       'Primary completion rate, male (% of relevant age group)',
       'Primary completion rate, female (% of relevant age group)',
       'Primary school starting age (years)',
       'Trained teachers in preprimary education (% of total teachers)',
       'Trained teachers in preprimary education, male (% of male teachers)',
       'Trained teachers in preprimary education, female (% of female teachers)',
       'School enrollment, preprimary, male (% gross)',
       'School enrollment, preprimary, female (% gross)',
       'School enrollment, preprimary (% gross)',
       'Pupil-teacher ratio, preprimary',
       'Preprimary education, duration (years)',
       'School enrollment, tertiary (gross), gender parity index (GPI)',
       'School enrollment, secondary (gross), gender parity index (GPI)',
       'School enrollment, primary and secondary (gross), gender parity index (GPI)',
       'School enrollment, primary (gross), gender parity index (GPI)',
       'Compulsory education, duration (years)',
       'Literacy rate, adult total (% of people ages 15 and above)',
       'Literacy rate, adult male (% of males ages 15 and above)',
       'Literacy rate, adult female (% of females ages 15 and above)',
       'Literacy rate, youth total (% of people ages 15-24)',
       'Literacy rate, youth male (% of males ages 15-24)',
       'Literacy rate, youth (ages 15-24), gender parity index (GPI)',
       'Literacy rate, youth female (% of females ages 15-24)'],
      dtype=object)

In [22]:
features = ['Literacy rate, youth total (% of people ages 15-24)',
            'Net intake rate in grade 1 (% of official school-age population)',
            'Gross intake ratio in first grade of primary education, total (% of relevant age group)',
            'School enrollment, primary (% gross)',
            'School enrollment, primary (% net)',
            'School enrollment, secondary (% gross)',
            'School enrollment, secondary (% net)',
            'School enrollment, tertiary (% gross)',
            'Adjusted net enrollment rate, primary (% of primary school age children)']
countries = 'United States'
for i in range(len(features)):
    print(world_bank[(world_bank['Indicator Name'] == features[i])
           & (world_bank['Country Name'] == countries)]['2015'].mean())

nan
72.6627426147461
102.813690185547
100.299911499023
93.8973007202148
97.6525421142578
91.2715606689453
88.88941192626949
94.60022735595699

In [26]:
nulls = 0
for feature in features:
    for row in world_bank[world_bank['Indicator Name'] == feature]:
        for column in world_bank[world_bank['Indicator Name'] == feature].columns:
            if world_bank[world_bank['Indicator Name'] == feature].loc[row, column][0].isna() == True:
                nulls += 1
    print(nulls)

KeyError: 'Country Name'

In [5]:
features = ['Literacy rate, youth total (% of people ages 15-24)',
            'Net intake rate in grade 1 (% of official school-age population)',
            'Gross intake ratio in first grade of primary education, total (% of relevant age group)',
            'School enrollment, primary (% gross)',
            'School enrollment, primary (% net)',
            'School enrollment, secondary (% gross)',
            'School enrollment, secondary (% net)',
            'School enrollment, tertiary (% gross)',
            'Adjusted net enrollment rate, primary (% of primary school age children)']

[variable_info[['INDICATOR_NAME', 'SOURCE_NOTE']].iloc[i][1] for i in range(len(variable_info))]

In [6]:
def word_counter(sentence):
    word_list = [word.replace('.','').replace('"','').replace('\n','').lower() for word in sentence.split()]
    word_set = set(word_list)
    count_dict = {word: 0 for word in word_set}
    for word in word_list:
        if word in word_set:
            count_dict[word] += 1
    return pd.DataFrame(count_dict, index=['counts'])

In [7]:
word_counter(test).T.sort_values('counts', ascending=False)

NameError: name 'test' is not defined